.title {
    text-align: center;
    color: #000;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 70px 0 30px;
    scroll-margin-top: 80px;
}

.title .subtitle {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
  }

.title h2 {
    font-size: 32px;
    color: #000F38;
    margin: 5px 0;
    text-transform: none;
}