:root {
    --nav-height: 70px;
}

nav {
    width: 100%;
    /* padding: 4px 0; */
    padding: 0 80px;
    position: fixed;

    /* Aligning title and nav links */
    top: 0;
    left: 0;
    display: flex; /* Align the content side-by-side */
    align-items: center;
    justify-content: space-between; /* Logo on the left and text on the right */
    /* z-index: 10;  */
    z-index: 1000;
}

.logo {
    width: 50px;
}

nav ul li {
    list-style: none;
    font-size: 16px;
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    list-style: none; /* Gets rid of listing */
    margin: 5px 20px; /* Spacing between the links */
    font-size: 16px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
  }

.dark-nav {
    background: #ffff00;
    transition: background 0.5s ease;
}

.menu-icon {
    display: none;
}

/* --- media query --- */
@media (max-width: 1000px) {
    /* .logo {
        width: 140px;
    } */

    nav ul li {
        margin: 10px 15px;
    }

    .dark-nav {
        background: transparent;
    }
}

@media (max-width: 840px) {
    nav {
        /* padding: 15px 0; */
        padding: 0 30px;
    }

    nav ul {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background: #ffff00;
        color: #000;
        z-index: -1;
        width: 200px;
        padding-top: 10px;
        transition: 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px 40px;
    }

    .menu-icon { 
        display: block;
        width: 30px;
        cursor: pointer;
    }

    .hide-mobile-menu {
        right: -200px;
    }
}
